Chapter27/Listing27-07.xml

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:s="http://www.w3.org/2001/XMLSchema" 
             xmlns:s0="http://tempuri.org/" 
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
             targetNamespace="http://tempuri.org/" 
             xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" 
              targetNamespace="http://tempuri.org/">
      <s:element name="authorCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" 
                       type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="authorCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" 
                       name="authorCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="authorCheckSoapIn">
    <part name="parameters" element="s0:authorCheck" />
  </message>
  <message name="authorCheckSoapOut">
    <part name="parameters" element="s0:authorCheckResponse" />
  </message>
  <message name="authorCheckHttpGetIn">
    <part name="name" type="s:string" />
  </message>
  <message name="authorCheckHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="authorCheckHttpPostIn">
    <part name="name" type="s:string" />
  </message>
  <message name="authorCheckHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="validateNamesSoap">
    <operation name="authorCheck">
      <input message="s0:authorCheckSoapIn" />
      <output message="s0:authorCheckSoapOut" />
    </operation>
  </portType>
  <portType name="validateNamesHttpGet">
    <operation name="authorCheck">
      <input message="s0:authorCheckHttpGetIn" />
      <output message="s0:authorCheckHttpGetOut" />
    </operation>
  </portType>
  <portType name="validateNamesHttpPost">
    <operation name="authorCheck">
      <input message="s0:authorCheckHttpPostIn" />
      <output message="s0:authorCheckHttpPostOut" />
    </operation>
  </portType>
  <binding name="validateNamesSoap" type="s0:validateNamesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" 
                  style="document" />
    <operation name="authorCheck">
      <soap:operation soapAction="http://tempuri.org/authorCheck" 
                      style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="validateNamesHttpGet" type="s0:validateNamesHttpGet">
    <http:binding verb="GET" />
    <operation name="authorCheck">
      <http:operation location="/authorCheck" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="validateNamesHttpPost" type="s0:validateNamesHttpPost">
    <http:binding verb="POST" />
    <operation name="authorCheck">
      <http:operation location="/authorCheck" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="validateNames">
    <port name="validateNamesSoap" binding="s0:validateNamesSoap">
      <soap:address location="http://localhost:8080/SimpleExample.asmx" />
    </port>
    <port name="validateNamesHttpGet" binding="s0:validateNamesHttpGet">
      <http:address location="http://localhost:8080/SimpleExample.asmx" />
    </port>
    <port name="validateNamesHttpPost" binding="s0:validateNamesHttpPost">
      <http:address location="http://localhost:8080/SimpleExample.asmx" />
    </port>
  </service>
</definitions>